.u-section-1 {
  background-image: linear-gradient(#808080, #de88a5);
}

.u-section-1 .u-sheet-1 {
  min-height: 2855px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 2735px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: "Cherry Cream Soda";
  font-weight: 400;
  margin: 0 -24px 0 -7px;
}

.u-section-1 .u-line-1 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 16px -22px 0;
}

.u-section-1 .u-text-2 {
  margin: 13px 20px 0 11px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 11px -10px 0;
}

.u-section-1 .u-line-2 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 20px -10px 0 -19px;
}

.u-section-1 .u-text-4 {
  margin: 20px 37px 0 -6px;
}

.u-section-1 .u-text-5 {
  font-size: 3.125rem;
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 20px -55px 0 -62px;
}

.u-section-1 .u-line-3 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 30px auto 0 -15px;
}

.u-section-1 .u-text-6 {
  margin: 20px 15px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 2735px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-family: "Cherry Cream Soda";
  margin: 0 -10px 0 12px;
}

.u-section-1 .u-line-4 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 16px -20px 0 -24px;
}

.u-section-1 .u-text-8 {
  margin: 11px 15px 0;
}

.u-section-1 .u-text-9 {
  font-size: 4.375rem;
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 13px 10px 0 1px;
}

.u-section-1 .u-line-5 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 30px -10px 0 -19px;
}

.u-section-1 .u-text-10 {
  margin: 20px 15px 0;
}

.u-section-1 .u-text-11 {
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 27px -29px 0 -25px;
}

.u-section-1 .u-line-6 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 26px auto 0 -26px;
}

.u-section-1 .u-text-12 {
  margin: 17px 15px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 2735px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-family: "Cherry Cream Soda";
  font-size: 3.75rem;
  margin: 7px -47px 0 -12px;
}

.u-section-1 .u-line-7 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 22px -22px 0;
}

.u-section-1 .u-text-14 {
  margin: 12px 15px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 2735px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-15 {
  font-size: 3.4375rem;
  font-family: "Cherry Cream Soda";
  text-transform: none;
  margin: -32px -30px 0;
}

.u-section-1 .u-line-8 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 5px auto 0 -25px;
}

.u-section-1 .u-text-16 {
  margin: 9px 16px 0;
}

.u-section-1 .u-text-17 {
  font-size: 3rem;
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 15px -36px 0 -25px;
}

.u-section-1 .u-line-9 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 23px -22px 0;
}

.u-section-1 .u-text-18 {
  margin: 24px 15px 0;
}

.u-section-1 .u-text-19 {
  font-size: 3.75rem;
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 23px -4px 0 -9px;
}

.u-section-1 .u-line-10 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 13px auto 0 -25px;
}

.u-section-1 .u-text-20 {
  margin: 37px 16px 0;
}

.u-section-1 .u-text-21 {
  font-size: 2.5rem;
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 20px -33px 0 -16px;
}

.u-section-1 .u-line-11 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 22px -22px 0;
}

.u-section-1 .u-text-22 {
  margin: 28px 21px 0 10px;
}

.u-section-1 .u-text-23 {
  font-size: 3.125rem;
  background-image: none;
  font-family: "Cherry Cream Soda";
  font-weight: bold;
  margin: 37px -30px 0;
}

.u-section-1 .u-line-12 {
  width: 255px;
  height: 4px;
  transform-origin: right center 0px;
  margin: 23px -22px 0;
}

.u-section-1 .u-text-24 {
  margin: 33px 11px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 786px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2255px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 175px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    width: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 2255px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    width: 175px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-5 {
    width: 175px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-6 {
    width: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 2255px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-7 {
    width: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 2255px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-8 {
    width: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-9 {
    width: 175px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-10 {
    width: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-11 {
    width: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-12 {
    width: 175px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-19 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-23 {
    font-size: 3rem;
  }
}